<div class="container">
  <div class="wrapper">
    <div class="header">
      <h1> PKCE Generator Tool</h1>
      <h4>An Angular tool to generate code verifier and code challenge for OAuth with PKCE (Proof Key for Code
        Exchange).</h4>
    </div>
    <div class="content">
      <div>
        <label for="code_verifier">Code Verifier: <span (click)="generateCodeVerifier()">Generate</span> </label>
        <div class="cv" [ngClass]="{'hoverable': cvGenerated, 'copied': cvCopied }" (click)="copyToClipboard('cv')">
          {{codeVerifier}}</div>
      </div>
      <div>
        <button type="button" [disabled]="!cvGenerated || ccGenerated" class="main-btn"
          (click)="generateCodeChallenge()">Generate Code
          Challenge</button>
      </div>
      <ng-container *ngIf="ccGenerated">
        <div class="result" [ngClass]="{'copied': ccCopied }" (click)="copyToClipboard('cc')">
          <span>
            {{codeChallange}}
          </span>
        </div>
      </ng-container>
    </div>
  </div>
</div>